/*  @ -2,33 +2,28 @@
*   @author: Emerson Filho, Ana Caroline, Pedro Spelta e Amaury Queiroz Jr
*/

:root {
   font: normal 15pt Arial;
}

body {
    background: #0D0D0D;
    height: 100%;
    overflow: hidden;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
}

.btn-start-game {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-start-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-left {
    color: #fff;
    background-color: #F26D3D;
}

.btn-rigth{
    color: #fff;
    background-color: #F26D3D;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

footer {

    color: white;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255));
    box-sizing: border-box;
    margin: 5em;
    font: 400 20px Arial;
    padding: 3px 6px;
    border-width: 5px;
    border-style: dotted;;
    border-image: initial;
    font-style: italic; 

}