/**
*   @author: Emerson Filho, Ana Caroline, Pedro Spelta e Amaury Queiroz Jr
*/

:root {
/* Colors  */
  --stroke: 6px solid #53243D;
   --radius: 50%;
}
#input {
   display: none;
}

#body {
/*    background-color: var(--green); */
   height: 100%;
   overflow: hidden;
}
button, label {
   cursor: pointer;
   outline: 0;
}
button:active {
   transform: scale(.9);
}

.center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}